.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: bold;
  font-size: 3em;
}

/* Add styles to make the child divs side by side and fill the screen */
.parent {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.child {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    flex-direction: column;
}

.coffee-section {
    padding: 20px;
    border: 1px solid #ccc;
}

.coffee-section div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; /* Optional: adds spacing between columns */
    justify-content: center; /* Centers the grid horizontally */
}

.coffee-section h3 {
    text-align: center;
    font-size: 2em;
}

.biscuit-section {
    padding: 20px;
    border: 1px solid #ccc;
}
.biscuit-section div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; /* Optional: adds spacing between columns */
    justify-content: center; /* Centers the grid horizontally */
}
.biscuit-section h3 {
    text-align: center;
    font-size: 2em;
}
.tea-section {
    padding: 20px;
    border: 1px solid #ccc;
}
.tea-section div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; /* Optional: adds spacing between columns */
    justify-content: center; /* Centers the grid horizontally */
}
.tea-section h3 {
    text-align: center;
    font-size: 2em;
}
.menu {
    display: flex;
}

.items{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}